@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --primary: #ff4655;
  --white: #fff;
  --black: grey;
  --black2: #222;
  --grey1: lightgrey;
  /* #dad8d8; */
  --grey2: grey;
  --orange: #ffa238;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: block;
  width: 100vw !important;
}
a {
  text-decoration: none;
  color: #fff;
}
/* .content {
  height: 200vh;
} */

/* navigation styles */
header {
  background-color: var(--grey2); /*var(--primary) grey1 =>2;*/
  text-align: center;
  position: fixed;
  z-index: 500;
  width: 100vw;
}
.icons {
  height: 5rem;
}
.star {
  width: 1.1rem !important;
  height: 1.1rem !important;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle {
  display: none;
}
.nav-icons {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  color:#fff
}
.nav-icons svg:last-child {
  margin-left: 1rem;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  /* text-align: center; */
  top: 100%;
  right: 0;
  background-color: var(--grey2); /*var(--primary) grey1=>2;*/
  width: 40%;
  height: 12rem;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  z-index: 550;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: end;
}
nav li {
  margin-bottom: 1em;
  margin-right: 1.5rem;
}
nav a {
  color: var(--white);
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label,
  .nav-icons {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(700px, 1fr) 1fr;
  }
  nav {
    all: unset;
    grid-column: 2/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin: auto 0.5rem;
  }
  nav li {
    padding-right: 0.5rem;
    border-right: 2px solid white;
  }
  nav li:last-child {
    border-right: none;
  }

  nav a {
    opacity: 1;
    position: relative;
    font-size: 1.2rem;
  }

  /* nav a::before {
    content: "";
    display: block;

    display: block;
    background: white;
    width: 2em;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    left: 4.75em;
    top: 0;
    bottom: 0;
  } */
}

/* Logo section */
.logo {
  position: relative;
  top: 3rem;
  display: flex;
  justify-content: center;
}
.big-logo {
  display: none;
}
.small-logo img {
  max-width: 100px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -3.5rem;
  z-index: 530;
}

@media screen and (min-width: 800px) {
  .big-logo {
    display: block;
  }
  .small-logo {
    display: none;
  }
}



/* Main Beggin */
main {
  position: relative;
  top: 150px;
  left: 0;
  width: 100vw;
}
.hero-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.hero-container img {
  width: 1700px;
  height: 200px;
  z-index: 10;
}
/* .hero-container img {
  /* border-radius: 3%; */
/* margin: 0 auto; */
/* } */
.h2 {
  max-width: 900px;
  text-align: center;
  margin: 1rem auto;
}

.card,
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  width: 150px;
}
.card img,
.card2 img {
  width: 150px;
  height: 90px;
  /* border-radius: 6% 6% 0 0; */
}
.card-layout,
.card2-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0.5rem auto;
}
.card-layout,
.card2-layout {
  flex: 1 1 10em;
}

.travelList {
  background-color: var(--grey2); /* grey1 =>2;*/
  color: var(--white) !important;
  width: 100%;
  height: 270px;
  text-align: center;
}
.travelList h5 {
  margin-top: 15px;
  /* height: 16px; */
  /* font-size: large; */
}
h2 {
  font-weight: bold;
  color: var(--black);
}
.h2 p {
  font-size: x-small;
}
.card-layout,
.card2-layout {
  margin-bottom: 1rem;
}
.voir_offre {
  background-color: var(--primary);
  /* border-radius: 0 0 5% 5%; */
  height: 50px;
  width:100%;

  /* position: relative; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  bottom: -5px;
  /* margin-bottom: 5px; */
}

.voir_offre p{
font-weight: bold;
}
/* .travelList p:last-child {
  position: relative;
  display: flex; */
  /* align-items: flex-end; */
/* } */
.voir_plus {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d4d4d;
}
.les-produits {
margin: 20px 10px;
}
.travel-cat {
margin: 30px 0;
}


@media screen and (min-width: 500px) {
  .hero-container {
    display: flex;
    justify-content: center;
  }

  .hero-container img {
    width: 1700px;
    width: 100vw;
    height: 300px;
  }

  .card-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .card-layout > * {
    margin: 2rem auto;
  }
  .card,
  .card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem;
    width: 200px;
  }

  .card2 img,
  .card img {
    width: 200px;
    height: 200px;
  }
  .card2-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: 1rem auto;
  }
  /* .card2-layout {
    flex: 1 1 1 1 10em;
  } */

  .travelList {
    height: 370px;
    text-align: center;
    margin-top: -5px;
  }

  h2 {
    font-weight: bolder;
    color: var(--black);
  }
  .h2 p {
    font-size: smaller;
  }
  .voir_offre {
    top: 19px;
  }
  .voir_plus {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.promotion-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  cursor: pointer;
}
.promotion-btn .promo{
  cursor: pointer;
}

.promotion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.promotion {
  flex: 1 1 1 1 10em;
  justify-content: center;
}
.promo {
  min-width: 75px;
  background-color: var(--grey1);
  color: var(--primary);
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid lightgray;
  border-radius: 45px 45px / 30px 30px;
  font-size: x-small;
}
@media screen and (min-width: 800px) {
  .promo {
    font-size: 15px;
  }
}

/* Main End */

/* Footer */
footer {
  position: relative;
  /* background-color: var(--grey1); */
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}
/* .footer-container ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  width: 100%;
} */

.footer-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px auto;
  padding-top: 20px;
  /* padding-right: 10rem; */
}
.footer-container ul {
  list-style: none;
}
.footer-container ul a img {
  list-style: none;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary);
  border-radius: 6%;
  cursor: pointer;
  background-color: var(--primary);
  padding: 0.5rem;
  margin-left: 1rem;
}
.footer-copyright {
  display: flex;
  justify-content: center;
}
.footer-copyright p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 15px 50px;
  max-width: 1200px;
  font-size: small;
}

@media screen and (min-width: 800px) {
  .footer-container ul {
    justify-content: flex-end;
    margin-top: 10px;
    padding-top: 20px;
    margin-left: 20px;
    /* padding-right: 10rem; */
  }
  .footer-copyright p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 150px;
    max-width: 1200px;
  }
  .footer-container ul a img {
    width: 60px;
    height: 60px;
    padding: 0.5rem;
    margin-left: 1rem;
  }
}

/* Detail container and section */
.detail-container h1,
.detail-container h3,
.detail-container h4,
.detail-container p {
  color: var(--black);
}
.detail-container {
  width:100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.h1 {
  text-align: center;
  margin-bottom: 20px;
}
.content {
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 15px 5px;
}
.image img{
max-width: 500px
}
/* #slider {

height: 50vh;
position: relative;
}
#slider img {
  width: 100%;
  height: 100%; */
  /* object-fit:contain; */
  /* position: absolute; */
  /* top: 0;
  /* margin: 15px 15px;
  opacity: 0;
  transition: opacity .8s;
}
 /* *
.slider {

height: 50vh;
position: relative;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  position: absolute;
  /* top: 0;
  /* margin: 15px 15px;
  opacity: 0;
  transition: opacity .8s;
}
.slider img.active {
opacity : 1;
}

.suivant,
.precedent {
color:#fff;
font-size: 3rem;
position: absolute;
top: 50%;

transform: translate(-50%);
cursor:pointer;
}
.suivant {
right:1rem
}
.precedent {
left:3rem
} */
#description {
  margin: 30px 30px;
}
.descrip {
  font-size: large;
}
.detail-container h3 {
  font-size: xx-large;
}
.detail-container h4 {
  font-size: large;
  margin-left: 20px;
}
.contenu,
.categorie {
  margin-bottom: 10px;
}

.price-promo {
  height: 200px;
  border: 1px solid grey;
  margin: 10px 10px;
}

.reduction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
   font-size: 1.5rem;
}
.price-resa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.price {
  font-size: 2.5rem;
  /* font-weight: bold;
  margin-left: 10px; */
}
.resa {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: white;
  font-size: small;
  padding: 10px 10px;
}
.resa a {
  list-style: none;
  text-decoration: none;
}
#galerie {
display:none;
}

/* Detail container and section */
@media screen and (min-width: 800px) {
.detail-container {
  width:100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    color: red;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin:10px 15px;
  }
  #description{
  margin: 10px 15px}
  /* 2x 1fr */
  .price-promo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 50px 170px;
    height: 90px;
  }
  .reduction,
  .price-resa {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .old-price {
  font-size: 1rem;
  }
  .price {
    font-size: 2rem;
    font-weight: bold;
  }
  .resa {
    padding: 15px;
    list-style: none;
    font-size: large;
    font-weight: bold;
  }
  .infos {
    margin-left: 250px;
    margin-bottom: 50px;
  }

  #galerie {
     display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-bottom: 100px;

    height: 90px;
    display:flex;
    flex-direction: row;
  }
  #galerie img{
  width: 300px;
  height: 200px;
  }
  
}
